* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
    --main-color: rgb(255,226,106);
}
header {
    width: 100%;
    height: 100px;
    background-color: rgb(90, 81, 81);
    border: 3px solid var(--main-color);
}
header h1 {
    display: inline-block;
    font-size: 36px;
    margin-left: 25px;
    padding-top: 26px;
    color: var(--main-color);
}
nav {
    margin-right: 20px;
    float: right;
    font-size: 20px;
    margin-left: 25px;
    padding-top: 32px;
}
nav a {
    text-decoration: none;
    margin: 15px;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
nav a:hover {
    text-decoration: none;
    margin: 15px;
    color: rgb(126, 126, 255);
}
main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
main h2 {
    font-size: 30px;
    flex-wrap: wrap;
}
body {
    background-color: rgb(190, 157, 157);
}
body div {
    position: relative;
}
body div img {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}
body div h2 {
    position: absolute;
    bottom: 15%;
    right: 5%;
    background-color: var(--main-color);
    border: 5px solid var(--main-color);
}
#about {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}
#about h2 {
    border-right: 5px solid var(--main-color);
    width: 150px;
    padding: 3px;
}
#about img {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
}
#about p {
    flex: 1;
    font-size: 16px;
}
#work {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}
#work h2 {
    border-right: 5px solid var(--main-color);
    width: 150px;
    padding: 3px;
    margin-right: 10px;
}
#row1 {
    width: calc(100% - 35px);
    margin: 10px;
    height: 300px;
}
#row1 p {
    text-decoration: none;
    color: black;
}
.bigP {
    margin: 0px;
    width: 98%;
    height: 100%;
    border: 5px solid var(--main-color);
}
#row2 {
    position: relative;
    width: calc(100% - 40px);
    margin: 10px;
    height: 300px;
}
#row2 p {
    text-decoration: none;
    color: black;
}
#data .left {
    position: absolute;
    bottom: 15%;
    background-color: var(--main-color);
    border: 5px solid var(--main-color);
}
#data .right {
    position: absolute;
    bottom: 15%;
    right: 2%;
    background-color: var(--main-color);
    border: 5px solid var(--main-color);
}
span {
    font-weight: bold;
}
#row3 {
    width: calc(100% - 40px);
    margin: 10px;
    height: 300px;
}
#row3 p {
    text-decoration: none;
    color: black;
}
.lilP {
    margin: 0px;;
    width: 49%;
    height: 100%;
    border: 5px solid var(--main-color);
}
#contact {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#contact h2 {
    border-right: 5px solid var(--main-color);
    width: 150px;
    padding: 3px;
}
#contact a {
    font-size: 20px;
    text-decoration: none;
    align-self: center;
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#contact a:hover {
    text-decoration: none;
    color: rgb(126, 126, 255);
}